@import "../../styles/variable";

.brandName {
  font-size: 2rem;
}

.linkActive{
  background-color: $black;
}

.white-link.linkActive > .nav-link {
  color: $white;
}

.white-link > .nav-link {
  color: $black;
}
